<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @experience.company %>
</p>

<p>
  <strong>From:</strong>
  <%= @experience.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @experience.to %>
</p>

<p>
  <strong>Role:</strong>
  <%= @experience.role %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
